{{> top title="Basic"}}

	<style>

		input[type="file"]:focus + span {
			outline:1px dotted #000;
		}

	</style>

	<div class="sandbox">
		<input type="file" id="upload" />
	</div>

	<script>

		$('#upload').stylefileinput();

	</script>

{{> bottom}}
